.div-search-contact{
	text-align: center;	
	margin-top: 2em;
	border: 10px solid white;
	margin-left: 1em;
	margin-right: 1em;
	background-color: white;
}

.fieldset-search-book{
	padding-bottom: 3em;
}

table, th, td {
	border: 1px solid black;
}

table{
	width: 100%;
}